[user]
	name = János Illés
	email = ijanos@gmail.com
[color]
	pager = true
	ui = auto
[core]
	editor = vim
	pager = less -RS
	excludesfile = /home/ijanos/.config/global_gitignore
[merge]
	tool = vimdiff
[gui]
	spellingdictionary = none
	historybrowser = gitk
	editor = gvim
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 298
	file-view-vpane-position = 662
	main-window-view = HistoryView
[cola]
	fontdiff = Consolas,9,-1,5,50,0,0,0,0,0
	tabwidth = 4
