[Unit]
Description=Regular pacman cache cleanup

[Timer]
OnCalendar=weekly
# run immediately if we missed a run
Persistent=true

[Install]
WantedBy=multi-user.target
