#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Music
Exec=/usr/bin/google-chrome-stable --start-maximized --app=https://music.google.com
Icon=/home/ijanos/.local/share/icons/googlemusic.png
Categories=AudioVideo;Audio
StartupWMClass=music.google.com
